.container {
    min-height: 50vh;
    padding: var(--xl) var(--xl);

    color: var(--contrast-color);
    background-color: var(--background-color-contrast);
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: var(--sm);

    border: 4px solid var(--background-color);
    border-radius: 50%;
}

.name {
    /* stylelint-disable-next-line property-no-unknown */
    composes: text-heading-1 from "styles/shared.css";
}

.tag {
    /* stylelint-disable-next-line property-no-unknown */
    composes: text-heading-2 from "styles/shared.css";
}
