.navigation {
    padding: var(--xs);

    background-color: rgb(44 42 56 / 80%);
}

.layout {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: var(--x3l);
    padding: var(--xs);

    color: #FFF;
}

.logo {
    margin-right: var(--lg);
    padding: var(--xs);

    border-radius: 50%;
    background-color: var(--background-color-contrast);
}

.content {
    flex-grow: 1;
}

.name {
    color: var(--main-color);

    font-weight: 800;
}

.tag {
    color: var(--secondary-color);
}
