.container {
    width: 100%;
    padding: var(--md) var(--x2s);

    color: var(--main-color);

    border: none;
    outline-width: 0;
    background-color: var(--backgroun-color-underlay-active-element);
}

.container:focus {
    outline: none;
}

.container:focus-visible {
    border: none;
    outline-width: 0;
}
