.container {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding: var(--x2s);

    border-bottom: 1px solid var(--splitter-color);
    background-color: var(--backgroun-color-underlay-active-element);
}

.container:hover {
    cursor: pointer;

    background-color: var(--hover-background-color);
}

.container:last-child {
    border-bottom: none;
}

.icon {
    margin-right: var(--lg);
}

.content {
    flex-grow: 1;
}

.title {
    font-weight: 800;
}

.subtitle {
    color: var(--secondary-color);
}
